<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>FejkBuk</title>
        <link rel=icon href="Icon1.png">
        <link rel="stylesheet" href="style.css">
              <style>

              </style>
    </head>
    <body>
    <div class="container1">
        <h1 class="arial">FejkBuk</h1>
        <div>
            <a class="white arial"><strong>Search:</strong></a>
            <input type="text" placeholder="Search for fake friend...">
        </div>
    </div>
        <hr color="black">


        <br>
        <h2 class="arial">Jan Krajnc</h2>
    <br>
    <div class="container">
        <div class="card"></div>
        <div m>
            <p class="category"><strong>Lives in:</strong> Slovenija, Ljubljana</p>
            <p class="category"><strong>Age:</strong> 20 something</p>
            <p class="category"><strong>Hobbys:</strong> staring at the computer screen</p>
            <button class="button">Add Fejk Friend</button>
        </div>
    </div>
        <br>

        <br>
        <br>

    </body>
</html>
